<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            /* #username{
                width: 100%;
            } */
        </style> 
    </head>
    <body>
        
    <!-- <script>
        function handleLogin(event) {
            console.log('login click')
            event.preventDefault();
            const form = event.target;
            console.log(form)
            const formData = new FormData(form);
            
            fetch(form.action, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.next_url) {
                    window.location.href = data.next_url;
                } else {
                    alert(data.message || 'Login failed');
                }
            });
        }
             onsubmit="handleLogin(event)"
    </script> -->
        <div class="container" style="height: 100vh;">
            <div class="row h-100  d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <form method="post" action="{% url 'userlogin' %}?next={{request.GET.next}}"
                      class="w-100 h-100 d-flex justify-content-center align-items-center 
                      flex-column border py-5 rounded">
                     <!-- style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content:center;
                   align-items: center; gap: 10px;" -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text"  id="username" placeholder="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="password" name="password">

                </div>
                <button type="submit" class="btn btn-primary btn-block w-50">login</button>
            </form>
            </div>
           </div> 
        </div> 
       
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    </body>
</html>